<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default ">
<div class="container-fluid" class="row">
  <div class="container-fluid" >
    <a href="#" style="color:white"   >
      <img src="https://media.weddingz.in/images/ed6d0d3560a94f5a22541eb42c025f80/date-the-ramp-rentals-bangalore-1.jpg" height="90px" width="300px" ><span ><i>Luxury Fashion Retail</i></span>
    </a>
    <form class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

    <div >
 <div class="container-fluid  " >
  <ul class="nav navbar-nav">
    <li  ><a href="#" >HOME</a></li>
    <li><a href="#1"  >RED CARPET</a></li>
    <li><a href="#" >BRIDAL</a></li>

    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ETHNIC<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="allethnics">ALL ETHNIC</a></li>
            <li><a href="2">ENSEMBLES</a></li>
            <li><a href="4">SAREES</a></li>
            <li><a href="#">SAREE GOWNS</a></li>
            <li><a href="#">LEHENGAS</a></li>
            <li><a href="4">ANARKALIS</a></li>
            <li><a href="#">SAREE BLOUSES</a></li>
            <li><a href="#">SUITS</a></li>
            <li><a href="#">KURTIS</a></li>
            <li><a href="#">KAFTANS</a></li>
          </ul>
        </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" >WESTERN
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">ALL WESTERN</a></li>
        <li><a href="#">ENSEMBLES</a></li>
        <li><a href="#">GOWNS</a></li>
        <li><a href="#">DRESSES</a></li>
        <li><a href="#">SAREE & GOWNS</a></li>
        <li><a href="#">CAPES & JACKETS</a></li>
        <li><a href="#">TOPS</a></li>
        <li><a href="#">JEANS </a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" >ACCESSORIES
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="#">ALL ACCESSORIES</a></li>
        <li><a href="#">JEWELLERY</a></li>
        <li><a href="#">CLUTCHES</a></li>
        <li><a href="#">SAREE BLOUSES</a></li>
      </ul>
    </li>
      <li><a routerLink="/designerlist"  >DESIGNER</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li  ><a href="#" >Join Now</a></li>
    <li><a href="#1"  >Login</a></li>
    <li><a href="#" >Wishlist</a></li>
    <li><a href="#" >BAG</a></li>
  </ul>

</div>
</div>
</div>

</nav>


<router-outlet></router-outlet>
<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
  <!-- Brand/logo -->
  <!-- <a class="navbar-brand" href="#">
    <img src="bird.jpg" alt="logo" style="width:40px;">
  </a> -->

  <!-- Links -->
  <!-- <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">Link 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link 3</a>
    </li>
  </ul>
</nav> -->
